

.badges{
    display:flex;
    justify-content: wrap;
    margin: 10px;
    width: 100%;
    
}
.card{
    margin: 2rem;
    width:100%;
    border-radius: 5px;
}
.price{
    padding: 1rem;
}
.cardbox{
    text-align: center;
    width: 100%;
    border-radius: 5px;
}
.buy{
    background-color: rgb(66, 63, 63);
    border: none;
    padding: .5rem 0;
    color: #fff;
    bottom: 0;
}
.service{
display: flex;
margin: 2rem;
}
.service-title{
    text-align: center;
    margin: 3rem;
    font-style: italic;
}
.title{
    margin: 2rem;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 2rem 1em;
}
.services-text{
    color: #584a6b;
    margin-left:3rem;
    padding: 2rem;
    text-align: justify;
    border: 2px solid rgb(194, 182, 182)
}
.menu{
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem;
    font-style: italic;
}
.footer{
    background-color: #000;
    padding: 3rem;
    text-align: center;
    color: #fff;
    
}
.fa{
    margin-left: 3rem;
    cursor: pointer;
    
}

@media screen and (max-width: 600px){
    .badges{
        display: block;
    }
    .service{
        display: block;
        /* margin-top: 2rem; */
    }
    .card{
        margin: 1rem;
    }
    .services-text{
        margin-left: 0;
        margin-top: 2rem;
    }
    }