.contactform{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 2rem;
}
.head{
    text-align: center;
    padding: 1rem;
    
}
input{
    padding: .75rem;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #b2beb5
}
.inputname{
    margin: 5rem 0 2rem 0;
}
.lname{
    margin-left: 2rem;
}
.input-email{
    width: 100%;
    border: 1px solid #b2beb5;
}
.submit{
    width: 100%;
  background-color: #724caf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
textarea{
    border-radius: 4px;
    height:200px;
    width: 100%;
    margin: 2rem 0;
    border: 1px solid #b2beb5
}

.footer{
    background-color: #000;
    padding: 3rem;
    text-align: center;
    color: #fff;
    
}
.fa{
    margin-left: 3rem;
    cursor: pointer;
    
}

@media screen and (max-width: 600px){
    .lname{
        margin-top:1rem;
        margin-left: 0;
        width: 100%;
    }
    .fname{
        width: 100%;
    }
    }
