.footer{
    background-color: rgb(240, 222, 222);
    padding: 2rem;
    text-align: center;
    color: rgb(39, 31, 31);
    position: fixed;
    right: 0;
    bottom:0;
    left:0;
}
.fa{
    margin-left: 3rem;
    cursor: pointer;
}